body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li,
a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #e5e5e5;
}

.subtitulo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 8rem;
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;
  text-align: justify;
}
